
.success {
	background-image: url("images/woodbkgrd.png");
	background-repeat:repeat-all;
}

.general {
	background-color: black;
}
.monkeygifborder {
	border:10px;
	border-color: white;
}

.jsscriptlink {
	background-image: url("images/button.png");
	border-color:black;
	border-width: 10px;
	
}
